.coincard{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:darkorange;
    border:3px solid darkorange;
    border-radius:10px;
    margin:10px;
    
}
.coincard img{
    height:10vh;
    width:auto;
}
.coincard >*{
    margin:5px 20px;
}
.coincard:hover{
    border:3px solid white;
    scale:101%;
    transition: scale 0.3s ease-in;

}
.topbar{
    display:flex;
    background:brown;
    width: 100vw;
    
}
.topbar>*{
    margin:10px;
}
.content{
    display:flex;
}
.coininfopage{
    background: rgb(255, 89, 0);
}
.article{
    margin:30px;
    padding:10px;
    background:darkorange;
    border:4px solid darkorange;
    
}
.article:hover{
    scale:103%;
    border:4px solid white;
    transition: all 0.3s ease-out;
}
.article img{
    height:30vh;
    width:auto;
    

}